<html>
    <head>
        <title>docker-node-init</title>
    </head>
    <body>
        <h2>Welcome to docker-node-init</h2>
        <ul>
            <li><a href="/sigint">SIGINT</a></li>
            <li><a href="/sigterm">SIGTERM</a></li>
            <li><a href="/sigkill">SIGKILL</a></li>
        </ul>
    </body>
</html>