<html>
    <head>
        <title>docker-node-init</title>
    </head>
    <body>
        <h2>SIGINT</h2>
        <% if (secs) { %>
            <h5>The app process will be interrupted in <%= secs %> seconds...</h5>
        <% } %>
        <a href="/">&#8249; Home</a>
    </body>
</html>